<template>
    <form @submit.prevent="setBook">
        <div class="col-6">
            <select v-model="form.category" aria-label="Default select example"
                    class="form-select">
                <option disabled value="">Kategoriyani tanlang</option>
                <option
                        v-for="category of getCategories"
                        :key="category.id"
                        :value="category['@id']"
                >{{ category.name }}
                </option>
            </select>
            <input
                    v-model="form.name"
                    class="form-control mt-4"
                    placeholder="Book name"
                    type="text"
            >
            <input
                    v-model="form.description"
                    class="form-control mt-4"
                    placeholder="Description"
                    style="height: 50px"
                    type="text"
            >
            <div class="form-floating mt-4">
                        <textarea id="floatingTextarea2" v-model="form.text" class="form-control"
                                  placeholder="Text" style="height: 100px"></textarea>
                <label for="floatingTextarea2">Text</label>
            </div>
            <input
                    v-model="form.price"
                    class="form-control mt-4"
                    placeholder="Book price"
                    type="number"
            >
            <div class="mt-4">
                <label>Rasmni tanlang
                    <input
                        type="file"
                        class="form-control mt-2"
                        id="file"
                        ref="file"
                        @change="handleFileUpload()"
                    >
                </label>
                <br>
            </div>
        <button class="btn btn-primary mt-4" type="submit">Save</button>
        </div>
    </form>
</template>

<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "AddBook",
    data() {
        return {
            form: {
                category: '',
                name: '',
                description: '',
                text: '',
                price: '',
            },
            file: null
        }
    },
    computed: {
        ...mapGetters(['getCategories', "getMedia"])
    },
    methods: {
        ...mapActions(["pushFile", "pushBook"]),
        setBook() {
            const formData = new FormData();
            formData.append('file', this.file);

            this.pushFile(formData)
                .then((response)=>{
                    const bookData = {
                        name: this.form.name,
                        description: this.form.description,
                        text: this.form.text,
                        category: this.form.category,
                        price: this.form.price,
                        picture: this.getMedia
                    };
                    console.log(response)
                    return this.pushBook(bookData);
                })
                .then(() => {
                    this.$router.push('/');
                    alert('Kitob qo\'shildi')
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        handleFileUpload(){
            this.file = this.$refs.file.files[0];
        },
    },
    mounted() {
        console.log(this.form.category)
        console.log('addbook page ishladi')
        console.log(this.getCategories)
    }
}
</script>

<style scoped>

</style>