<script setup>

import BooksRow from "@/components/BooksRow.vue";
import PaginationRow from "@/components/PaginationRow.vue";
</script>

<template class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4">
    <div>
        <BooksRow/>

        <PaginationRow/>
    </div>
</template>

<style scoped>

</style>